h1{
    color: white;
    text-align: center;
}
.row {
    height: 1050px;
    background-color: white;
    margin-top: 0px;
 }

 .col-6 {
     background-color: #6441a5;
     margin-top: 100px;
     margin-left: 300px;
     margin-bottom: 100px;
     
 }

 .form-group {
     color: white;
 }






