
<div class="mx-auto" style="width: 650px;">

<div class="row">
    <div class="col-6" class="">
        <h1>About my web/app</h1>


        <div class="progress" style="height: 1px; width: 650px;">
                <div class="progress-bar-secondary" role="progressbar" style="width: 100%; color: #6441a5" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="50"></div>
              </div>
        <br>
        <br>
        <p>My web/app is a gaming library, as well as a place for people <br>
        to create games of their own. Users will be able to create a profile, <br>
        browse the original works and information of published and in progress <br>
        games.</p>

    </div>
</div>
</div>

