h1{
    color: black;
}
.row {
    height: 500px;
    background-color: white;
    margin-top: 0px;
 }

 .mx-auto {
     background-color: #6441a5;
 }

 .col-6 {
     background-color: #6441a5;
     
     
 }

 p {
     color: black;
 }