h1{
    color: white;
}
.row {
    height: 600px;
    background-color: #8c8c8c;
    margin-top: 0px;
 }

 .col-6 {
     background-color: #6441a5;
     margin-top: 100px;
     margin-left: 300px;
     margin-bottom: 100px;
     
 }

 p {
     color: white;
 }