<div class="row">
        <div class="col-6">
      
      
      <h1>About my web/app</h1>
      
      <div class="progress" style="height: 1px; width: 650px;">
          <div class="progress-bar-secondary" role="progressbar" style="width: 100%; color: #6441a5" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="50"></div>
        </div>
        <br>

        <p>This is my about page, this page shows what my page is about.
        The purpose of my web/app is to give users a place to create ideas of 
        their own, which will most likely videogame related. Users will be able to create,
        and share eachothers ideas.
        </p>
      
      
      </div>
      </div>    