.vertical-menu {
    width: 250px;
    height: 600px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #6441a5;
}

.vertical-menu a.active {
    background-color: #6441a5;
    color: white;
}

.container-fluid {
    padding-left: 0px;
  }


.col-3 {
    background-color: #1f1533;
    margin-left: 0px;
    margin-top: 0px;
}

.col-8 {
    background-color: #6441a5;
    margin-left: 60px;
    margin-top: 60px;
}

#nav-tabContent {
    color: white;
}



#list-tab {
    width: 327px;
}

#list-home-list a:hover {
    color: #6441a5;
}