<div class="container-fluid">
    <div class="row">
            <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Setting/Plot</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Gameplay</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Music</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Other</a>
              </div>
            </div>
  
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                </div>
  


                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    Superhot sets the player in a minimalistic environment, taking out hostile attackers that are trying to kill them. Weapons picked up by the player have limited ammunition, 
                    requiring the player to rely on defeating enemies to get more ammo, or making melee kills. Taking a single hit from an enemy bullet kills the player, requiring them to restart 
                    the game. Though the game mechanics are typical of most shooters, time only progresses normally when the player moves or fires a gun, otherwise time is slowed; this is described 
                    in the game's tagline "Time Moves Only When You Move". This gives the player the opportunity to alter their actions as to avoid the path of bullets or to better assess their current 
                    situation.
                    The game originally was a three-level prototype browser game. In expanding to the full game, Superhot Team created a campaign mode across approximately thirty levels, estimated to 
                    be as long as Portal. The full game includes additional weapons, including explosives, melee weapons, and improvised weapons like billiard balls that can be thrown at enemies, and 
                    introduces computer opponents that have similar awareness as the player and can dodge the player's bullets. One significant change from the earlier prototype is that the player 
                    does not automatically pick up a weapon when they pass over it but must enact a specific control to do so, enabling the player to selectively choose and use weapons, or grab weapons
                    as they fall out of an opponent's hands. The full game also enables the player to jump and as long as the jump button or key is held, the player can slow down time to plan and perform 
                    actions, enabling aerial gunplay.                  
                    In the last portion of the campaign, the player also becomes able to "hotswitch" into an enemy's body, wherein they take control over the target, with the previous body dying. The 
                    manoeuvre allows the player to escape projectiles that are unavoidable, but has a cooldown timer that prevents repeated use, and the new body also drops its weapons upon switching.                   
                    In addition to the campaign mode, the full release of Superhot includes an "endless" mode, where the player survives as long as they can against an endless stream of enemies. A 
                    "challenge" mode allows players to replay the campaign mode levels but under specific restrictions or requirements, such as completing the level within a limited amount of time or 
                    only using a specific type of weapon. The final game also includes a replay editor to allow users to prepare clips to share on social media websites.[6]
                  <br>
                  <br>
                    Superhot VR
                    A new set of levels but otherwise based on the same gameplay was developed for the virtual reality version of the game. The player's avatar reacts to the player's body, head, and hand movements; in keeping with the "time only moves when you move" concept, in-game time only progresses when the player makes deliberate movement with their body; turning their head to assess the situation, or making small twitches to the body do not cause time to progress. The player's avatar can only move in a small space from their location on the level (mapping to how the player moves around themselves); after defeating a small wave of enemies, they grab onto a virtual object to jump them to a new location within the level. Following the campaign, the player unlocks a similar endless mode as the non-VR title.[7]
                  <br>
                  <br>
                    Superhot: Mind Control Delete
                    A standalone expansion that does not require the main game, Superhot: Mind Control Delete uses roguelike elements to create a series of levels but otherwise follows the same mechanics as Superhot. Levels and challenges will be procedurally generated. The expansion will have the player choose one of several MINDS (the player-character) that each have unique abilities, unlocking these based on their progress in the game, and as they complete levels, gain power-ups that allow them to face tougher challenges.[8]
                  <br>
                  <br>
                    Superhot JP
                    A Japanese-themed Superhot title, Superhot JP, is being developed by GameTomo with support of the Superhot developers. It is planned initially for a Japanese released for PlayStation 4 and Windows, but other regions and platforms may follow.
                   
                </div>
  
  
  
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        
                </div>
  

                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                      
                </div>
              </div>
            </div> 
          </div>
  
  
  </div>
  
  