.navbar-nav {
    margin-right: auto;
    color: green;
}

.nav-link {
    margin-left: 10px;
    color: white;
}

.a {
    color: white;
}

.col-2 {
    background-color: black;
    color: black;
    margin-right: 100px;
    margin-top: 0px;
}

.row {
    height: 800px;
    margin-top: 0px;
    background-color: white;
    padding-right: 0px;
}

.form-inline {
    padding-right: 500px;
}

.form-control {
    width: 250px;
    height: 25px;
}




.vertical-menu {
    width: 250px;
    height: 600px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #6441a5;
    color: white;
}