<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        <div class="vertical-menu">
        <a href="#">Home</a>
        <a href="#">Action</a>
        <a href="#">Action-adventure</a>
        <a href="#">Adventure</a>
        <a href="#">Role-playing</a>
        <a href="#">Simulation</a>
        <a href="#">Strategy</a>
        <a href="#">Sports</a>
        <a href="#">MMO</a>
        <a href="#"></a>
        <a href="#">link 10</a>
        <a href="#">Link 11</a>
        <a href="#">Link 12</a>
        <a href="#">Link 13</a>
        <a href="#">Link 14</a>
        <a href="#">Link 15</a>
      </div>
    </div>


<div class="col-8-lg">

</div>

</div>
</div>

