<div class="container-fluid" id="main-container">
  <div class="row" id="content">



<div class="col-8">

      <div class="card text-white mb-3">
      <div class="card-body">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg/220px-Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg" width="10" height="120"
          alt="Card image cap">
        <h5 class="card-title">Game Title</h5>
        <p class="card-text">Summary of a game within this box....</p>
        <a href="#" class="btn btn-sm btn-outline-light">More info</a>
      </div>
    </div>

    <div class="card border-light text-white mb-3">
      <div class="card-body">
          <img class="card-img-top" src="https://orig00.deviantart.net/961c/f/2009/225/2/7/lycan_idle_by_synje.gif" width="10"
          height="120" alt="Card image cap">
        <h5 class="card-title">Game Title</h5>
        <p class="card-text-right">Summary of a game within this box...</p>
        <a href="#" class="btn btn-sm btn-outline-light">More info</a>
      </div>
    </div>

        <div class="card border-light text-white mb-3">
          <div class="card-body">
              <img class="card-img-top" src="https://orig00.deviantart.net/9c58/f/2009/235/5/6/virus__trojan_hurt_drill_by_synje.gif" width="10" height="120"
              alt="Card image cap">
            <h5 class="card-title">Game Title</h5>
            <p class="card-text">Summary of a game within this box....</p>
            <a href="#" class="btn btn-sm btn-outline-light">More info</a>
          </div>
        </div>

        <div class="card text-white mb-3">
            <div class="card-body">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg/220px-Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg" width="10" height="120"
                alt="Card image cap">
              <h5 class="card-title">Game Title</h5>
              <p class="card-text">Summary of a game within this box....</p>
              <a href="#" class="btn btn-sm btn-outline-light">More info</a>
            </div>
          </div>
      
          <div class="card border-light text-white mb-3">
            <img class="card-img-top" src="https://orig00.deviantart.net/961c/f/2009/225/2/7/lycan_idle_by_synje.gif" width="10"
              height="120" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Game Title</h5>
              <p class="card-text">Summary of a game within this box....</p>
              <a href="#" class="btn btn-sm btn-outline-light">More info</a>
            </div>
          </div>


  
</div>
</div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">