
body {
    background-color: white;
}

h2 {
    color: white;;
    text-align: center;
}

nav {
    text-align: center;
}

.container-fluid {
  padding-left: 0px;
}

.row {
    margin-top: 0px;
    background-color: white;
    padding-right: 0px;
}

.col-3 {
    background-color: #6441a5;
    margin-top: 100px;
    color: black;
    width: 100px;
}

.col-8 {
    background-color: #6441a5;
    margin-top: 50px;
    margin-left: 200px;
    color: black;
    width: 100px;
}
.col {
    height: 100px;
    width: 100px;
}



.card-text {
    -ms-text-size-adjust: 0px;
}

.progress {
    color: #6441a5;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    padding-right: 10px;
    padding-bottom: 0px;
    height: 200px;
}

.card-body {
    padding-top: 10px;
}

.card.text-white.mb-3 {
    margin-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #1f1533;
}

.card {
    padding-left: 10px;
    padding-top: 10px;
}







.vertical-menu {
    width: 250px;
    height: 600px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #6441a5;
}

.vertical-menu a.active {
    background-color: #6441a5;
    color: white;
}

#content{
    min-height: 100vh;
}

#main-container{
    padding-bottom: 50px;
}