<div class="container-fluid" id="main-container">
  <div class="row" id="content">


<div class="col-8">

      <div class="card text-white mb-3">
          <div class="media">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg/220px-Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg" width="10" height="120"
                alt="Card image cap">
              <div class="media-body">
                <h5 class="mt-0">Halo: Combat Evolved</h5>
                Halo is a military science fiction first-person shooter video game franchise created by Bungie and now managed and developed by 343 Industries, a subsidiary of Microsoft Studios. The series centers on an interstellar war between 
                humanity and a theocratic alliance of aliens known as the Covenant.the Prophets, worship an ancient civilization known as the Forerunners, who perished in combat with the parasitic Flood. 
                The central focus...
                <br>
                <a class="btn btn-sm btn-outline-light" [routerLink]="['/game', 'halo']" data-toggle=" tooltip" data-placement="top" title="hello">More info</a>
              </div>
            </div>
          </div>


          <div class="card text-white mb-3">
              <div class="media">
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ce/CastlevaniaHarmonyofDespair.png/220px-CastlevaniaHarmonyofDespair.png" width="10" height="120"
                    alt="Card image cap">
                  <div class="media-body">
                    <h5 class="mt-0">Castlevania: Harmony of Despair</h5>
                    Castlevania: Harmony of Despair is a cross-over platform-adventure game that is part of the Castlevania series. The game was first leaked as an OFLCA Rating on May 27,
                     2010, then officially announced for Xbox Live Summer of Gaming 2010. Later in the year, the game was unveiled as a playable demo in the Konami booth at the E3 Convention
                      of 2010. It was released worldwide on August 4, 2010 for the Xbox Live Arcade and September 27...
                    <br>
                    <a class="btn btn-sm btn-outline-light" [routerLink]="['/game', 'castlevania']">More info</a>
                  </div>
                </div>
              </div>

              <div class="card text-white mb-3">
                  <div class="media">
                      <img class="card-img-top" src="https://orig00.deviantart.net/9c58/f/2009/235/5/6/virus__trojan_hurt_drill_by_synje.gif" width="10" height="120"
                        alt="Card image cap">
                      <div class="media-body">
                        <h5 class="mt-0">My World</h5>
                        In the year 2127, the world is surrounded by technological advancement. In this day and age, digital systems have taken over much of our daily
                        tasks. A world renown videogame programmer who flipped the scales of videogames, suddenly goes missing with no trace of him. Play as a character
                        trapped within one of his games and choose to escape it, or control it...
                        <br>
                        <a class="btn btn-sm btn-outline-light" routerLink="/browse3">More info</a>
                      </div>
                    </div>
                  </div>

              <div class="card text-white mb-3">
                  <div class="media">
                      <img class="card-img-top" src="https://humblebundle.imgix.net/misc/files/hashed/27db2e48b1c15605d40d55975bdcb65343f4cc57.jpg?auto=compress,format&fit=crop&h=353&w=616&s=b58eaa01a9879e27995d2cbe55c19570" width="10" height="120"
                        alt="Card image cap">
                      <div class="media-body">
                        <h5 class="mt-0">Bioshock</h5>
                        BioShock is a first-person shooter video game developed by 2K Boston (later Irrational Games) and 2K Australia, and published by 2K Games. The first 
                        game in the Bioshock series, it was released for Microsoft Windows and Xbox 360 platforms in August 2007; a PlayStation 3 port by Irrational, 2K Marin, 2K Australia and Digital Extremes 
                        was released in October 2008, and an OS X port by Feral Interactive in October 2009. A mobile version was developed by IG Fun...
                        <br>
                        <a class="btn btn-sm btn-outline-light" [routerLink]="['/game', 'bioschock']">More info</a>
                      </div>
                    </div>
                  </div>

                  <div class="card text-white mb-3">
                      <div class="media">
                          <img class="card-img-top" src="https://i.ytimg.com/vi/W7qY7s1tCtU/maxresdefault.jpg" width="10" height="120"
                            alt="Card image cap">
                          <div class="media-body">
                            <h5 class="mt-0">Superhot</h5>
                            Superhot is an independent first-person shooter video game developed and published by Superhot Team. Though the game follows traditional first-person shooter gameplay mechanics, 
                            with the player attempting to take out enemy targets using guns and other weapons, time within the game only progresses when the player moves; this creates the opportunity for the 
                            player to assess their situation and respond appropriately, making the...
                            <br>
                            <a class="btn btn-sm btn-outline-light" [routerLink]="['/game', 'superhot']">More info</a>
                          </div>
                        </div>
                      </div>

                      <div class="card text-white mb-3">
                          <div class="media">
                              <img class="card-img-top" src="https://orig00.deviantart.net/9c58/f/2009/235/5/6/virus__trojan_hurt_drill_by_synje.gif" width="10" height="120"
                                alt="Card image cap">
                              <div class="media-body">
                                <h5 class="mt-0">Bioshock</h5>
                                Halo is a military science fiction first-person shooter video game franchise created by Bungie and now managed and developed by 343 Industries, a subsidiary of Microsoft Studios. The series centers on an interstellar war between 
                                humanity and a theocratic alliance of aliens known as the Covenant.the Prophets, worship an ancient civilization known as the Forerunners, who perished in combat with the parasitic Flood. 
                                The central focus...
                                <br>
                                <a class="btn btn-sm btn-outline-light" routerLink="/browse">More info</a>
                              </div>
                            </div>
                          </div>

  
</div>
</div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">