<div class="container-fluid">
    <div class="row" vh="100">
      <div class="col-2">
  
    
          <div class="vertical-menu">
              <a href="#">Home</a>
              <a href="#" class="tooltiptext">Action</a>
              <a href="#">Action-adventure</a>
              <a href="#">Adventure</a>
              <a href="#">Role-playing</a>
              <a href="#">Simulation</a>
              <a href="#">Strategy</a>
              <a href="#">Sports</a>
              <a href="#">MMO</a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
            </div>
         </div>
   


<div class="col-8">

  <div class="card-group">
    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
      <img class="card-img-top" src="https://orig00.deviantart.net/961c/f/2009/225/2/7/lycan_idle_by_synje.gif" width="10" height="120"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Game Title</h5>
        <p class="card-text">Summary of a game within this box....</p>
        <a href="#" class="btn btn-sm btn-outline-light">More info</a>
      </div>
    </div>

    <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
      <img class="card-img-top" src="https://orig00.deviantart.net/90b4/f/2009/349/e/2/program__doc_run_by_synje.gif" width="10"
        height="120" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Game Title</h5>
        <p class="card-text">Summary of a game within this box....</p>
        <a href="#" class="btn btn-sm btn-outline-light">More info</a>
      </div>
    </div>

        <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
          <img class="card-img-top" src="https://orig00.deviantart.net/9c58/f/2009/235/5/6/virus__trojan_hurt_drill_by_synje.gif" width="10" height="120"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Game Title</h5>
            <p class="card-text">Summary of a game within this box....</p>
            <a href="#" class="btn btn-sm btn-outline-light">More info</a>
          </div>
        </div>

  </div>
</div>



</div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">